NODE_ENV=
HOST=
PORT=
API_PREFIX=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SCHEMA=
DATABASE_URL=

JWT_SECRET=
API_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_CONTENT_BUCKET=
SUPABASE_MEDIA_BUCKET=
SUPABASE_FILES_BUCKET=